.button {
  display: flex;
  background-color: var(--light-gray);
  flex-direction: column;
  padding: 6px;
  align-items: center;
  border-radius: 5px;
  font-weight: 700;
  justify-content: center;
  gap: 7px;
}
.button button {
  background-color: var(--light-gray);
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  :hover {
    color: var(--moderate-blue);
  }
}
.button span {
  color: var(--moderate-blue);
}
